<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoPython</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }
        h1 {
            color: #2c3e50;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 10px 0;
        }
        a {
            text-decoration: none;
            color: #2980b9;
        }
        a:hover {
            color: #3498db;
        }
    </style>
</head>
<body>
    <h1>Bienvenue dans votre atelier CryptoPython !</h1>
    <p>Choisissez une option :</p>
    <ul>
        <li><a href="/exercice1">Exercice 1 : Première page HTML</a></li>
        <li><a href="/exercice2">Exercice 2 : Page structurée</a></li>
        <li><a href="/exercice3">Exercice 3 : Formulaire</a></li>
        <li><a href="/exercice4">Exercice 4 : Mini-CV</a></li>
        <li><a href="/exercice5">Exercice 5 : Site avec cadres</a></li>
        <li><a href="/Exemple_Base_SVG">Cours : Voir ce qui se passe </a></li>
        <li><a href="/Maison"> Maison </a></li>
        <li><a href="/jack"> Jack </a></li>
        <li><a href="/chenille"> Chenille </a></li>
        <li><a href="/jeu_de_des"> Jeu de des </a></li>

        
    </ul>
</body>
</html>
